<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
	<meta charset="utf-8"/>
</head>
<body>

<p>First there was a normal bottle. <br>
After that people wanted to carry two drinks with them, so the 2 compartments bottle was invented.
But what if you want to carry two drinks and you want the one drink to have cold and the other to have warm.
Out of this problem the Bothle was invented.
A simple bottle that gives you the possibility to heat or cool your drink.
So its basically a microwave oven and a fridge together in your Bottle.
Bottle works with a small rechargeable battery that lasts 3 days during intensive use.
Charging the battery only takes 2 hours with the wireless charging pad</p>

</body>
</html>

