<div class="accordion" id="accordionExample">
  <div id="backWindow " class="backWindow offset-1 col-10 hide">
    <button id="closeBtn" class="closeBtn" type="button" name="button"> <i class="material-icons">close</i></button>
    <div class="row BackTitleRow">
      <div class="offset-1 col-10 col-lg-7 offset-lg-1">
        <h2>Back Bothle</h2>
        <hr class="offset-2 col-10 titleUnderline">
      </div>
    </div>
    <div class="row">
      <div class="col-8 col-lg-4 offset-2 offset-lg-1">
        <div class="option">
          <div class="row">
            <div class="col-8">
              <h4 class="bold">€4.99 or more</h4>
              <p>You are a real hero</p>
            </div>
            <div class="col-2">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
            </div>
          </div>
          <hr class="col-9 titleUnderline nomargin">
        </div>
        <div class="option">
          <div class="row">
            <div class="col-8">
              <h4 class="bold">€49 or more</h4>
              <p>One small Bothle with extra battery</p>
            </div>
            <div class="col-2">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
            </div>
          </div>
          <hr class="col-9 titleUnderline nomargin">
        </div>
        <div class="option">
          <div class="row">
            <div class="col-8">
              <h4 class="bold">€75 or more</h4>
              <p>One large Bothle with extra battery</p>
            </div>
            <div class="col-2">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
            </div>
          </div>
          <hr class="col-9 titleUnderline nomargin">
        </div>
        <div class="option">
          <div class="row">
            <div class="col-8">
              <h4 class="bold">€399 or more</h4>
              <p>6 large + 6 small Bothles</p>
            </div>
            <div class="col-2">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
            </div>
          </div>
          <hr class="col-9 titleUnderline nomargin">
        </div>
        <div class="option">
          <div class="row">
            <div class="col-8">
              <h4 class="bold">€499 or more</h4>
              <p>12 large Bothles</p>
            </div>
            <div class="col-2">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
            </div>
          </div>
          <hr class="col-9 titleUnderline nomargin">
        </div>
        <div class="option">
          <div class="row">
            <div class="col-8">
              <h4 class="bold">€999 or more</h4>
              <p>50 large Bothles with 24 extra batteries </p>
            </div>
            <div class="col-2">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
            </div>
          </div>
          <hr class="col-9 titleUnderline nomargin">
        </div>
        <div class="option">
          <div class="row">
            <div class="col-8">
              <h4 class="bold">€1049 or more</h4>
              <p>90 large Bothles with 90 extra batteries </p>
            </div>
            <div class="col-2">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
            </div>
          </div>
          <hr class="col-9 titleUnderline nomargin">
        </div>
      </div>

      <div class="offset-2 offset-lg-1 col-5 col-lg-2 customAmount hide">
        <form name="shippingForm" class="row needs-validation" action="shipping.html" novalidate>
          <div class=" form-group">
            <label for="FullName">choose custom amount</label> <input class="border-bottom form-control" type="number" id="firstName" name="Name" placeholder="80" required>
            <button class="btn btn-primary nextBttn" id="nextBttn">Next</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>