<footer class="row lightblueBg nomargin">
  <div class="offset-1 offset-lg-6 col-11 col-lg-6 nopadding">
    <div class="h-50vh w-100vwmob nomargin">
      <form name="subscribeForm" class="row offset-1 col-8 needs-validation subscribeForm" action="index.html" novalidate>
        <div class="form-group">
          <label class="bold" for="email">Subscribe to our newsletter</label>
          <input class="border-bottom form-control" type="text" id="email" name="email" placeholder="email" required>
          <button class="btn btn-primary nextBttn" id="nextBttn">Subscribe</button>
        </div>
      </form>
      <div class="col-8 offset-1 offset-lg-1 col-lg-8 paddingbottom100">
        <a href="https://www.facebook.com" target="_blank" class="social-icon"> <i class="fa fa-facebook"></i></a>
        <a href="https://www.twitter.com" target="_blank" class="social-icon"> <i class="fa fa-twitter"></i></a>
        <a href="https://www.youtube.com" target="_blank" class="social-icon"> <i class="fa fa-youtube"></i></a>
        <a href="https://www.instagram.com" target="_blank" class="social-icon"> <i class="fa fa-instagram"></i></a>
      </div>
    </div>
  </div>
</footer>