<div class="navigation">
  <div class="burger">
    <span></span>
  </div>
  <nav id="nav-main" class="nav-primary pull-right d-none">
    <div class="menu-menu-principal-container">
      <ul id="menu-menu-principal" class="nav">
        <li><a href="{{site.baseurl}}/index.html">Bothle</a></li>
        <li><a href="{{site.baseurl}}/contact.html">Contact</a></li>
        <li><a href="{{site.baseurl}}/terms.html">Terms of service</a></li>
        <li><a href="{{site.baseurl}}/faq.html">FAQ</a></li>
      </ul>
    </div>
  </nav>
</div>