<div class="navigation">
  <div class="burger">
    <span></span>
  </div>
  <nav id="nav-main" class="nav-primary pull-right">
    <div class="menu-menu-principal-container">
      <ul id="menu-menu-principal" class="nav">
        <li><a href="index.html">Bothle</a></li>
        <li><a href="#typo">Typography</a></li>
        <li><a href="#color">Colors</a></li>
        <li><a href="#list">List style</a></li>
        <li><a href="#button">Buttons</a></li>
        <li><a href="#social">Social Media</a></li>
        <li><a href="#input">Input</a></li>
      </ul>
    </div>
  </nav>
</div>