.backWindow{
  position: fixed;
  top: 10vh;
  @include breakpoint(768px){
  height: 80vh;
  }
  height: 70vh;
  z-index: 100000;
  background-color: white;
  border-radius: 50px 50px 0px 0px;
  overflow-y: scroll;
  .closeBtn{
    position: absolute;
    top: 5%;
    right: 5%;
    background-color: transparent;
    border: none;
    &:hover{
      color: $red;
    }
    &:active{
      color: $red;
    }
  }
  .customAmount{
    @include breakpoint(911px){
      right: 20%;
      position: fixed;
    }
    position: relative;
  }
}
