.paddingtop10 {
  padding-top: 10px; }

.paddingtop20 {
  padding-top: 20px; }

.paddingtop30 {
  padding-top: 30px; }

.paddingtop40 {
  padding-top: 40px; }

.paddingtop50 {
  padding-top: 50px; }

.paddingtop60 {
  padding-top: 60px; }

.paddingtop70 {
  padding-top: 70px; }

.paddingtop80 {
  padding-top: 80px; }

.paddingtop90 {
  padding-top: 90px; }

.paddingtop100 {
  padding-top: 100px; }

.paddingtop110 {
  padding-top: 110px; }

.paddingtop120 {
  padding-top: 120px; }

.paddingtop130 {
  padding-top: 130px; }

.paddingtop140 {
  padding-top: 140px; }

.paddingtop150 {
  padding-top: 150px; }

.paddingtop160 {
  padding-top: 160px; }

.paddingtop170 {
  padding-top: 170px; }

.paddingtop180 {
  padding-top: 180px; }

.paddingtop190 {
  padding-top: 190px; }

.paddingtop200 {
  padding-top: 200px; }

.paddingtop210 {
  padding-top: 210px; }

.paddingtop220 {
  padding-top: 220px; }

.paddingtop230 {
  padding-top: 230px; }

.paddingtop240 {
  padding-top: 240px; }

.paddingtop250 {
  padding-top: 250px; }

.paddingtop260 {
  padding-top: 260px; }

.paddingtop270 {
  padding-top: 270px; }

.paddingtop280 {
  padding-top: 280px; }

.paddingtop290 {
  padding-top: 290px; }

.paddingtop300 {
  padding-top: 300px; }

.paddingbottom10 {
  padding-bottom: 10px; }

.paddingbottom20 {
  padding-bottom: 20px; }

.paddingbottom30 {
  padding-bottom: 30px; }

.paddingbottom40 {
  padding-bottom: 40px; }

.paddingbottom50 {
  padding-bottom: 50px; }

.paddingbottom60 {
  padding-bottom: 60px; }

.paddingbottom70 {
  padding-bottom: 70px; }

.paddingbottom80 {
  padding-bottom: 80px; }

.paddingbottom90 {
  padding-bottom: 90px; }

.paddingbottom100 {
  padding-bottom: 100px; }

.paddingbottom110 {
  padding-bottom: 110px; }

.paddingbottom120 {
  padding-bottom: 120px; }

.paddingbottom130 {
  padding-bottom: 130px; }

.paddingbottom140 {
  padding-bottom: 140px; }

.paddingbottom150 {
  padding-bottom: 150px; }

.paddingbottom160 {
  padding-bottom: 160px; }

.paddingbottom170 {
  padding-bottom: 170px; }

.paddingbottom180 {
  padding-bottom: 180px; }

.paddingbottom190 {
  padding-bottom: 190px; }

.paddingbottom200 {
  padding-bottom: 200px; }

.paddingbottom210 {
  padding-bottom: 210px; }

.paddingbottom220 {
  padding-bottom: 220px; }

.paddingbottom230 {
  padding-bottom: 230px; }

.paddingbottom240 {
  padding-bottom: 240px; }

.paddingbottom250 {
  padding-bottom: 250px; }

.paddingbottom260 {
  padding-bottom: 260px; }

.paddingbottom270 {
  padding-bottom: 270px; }

.paddingbottom280 {
  padding-bottom: 280px; }

.paddingbottom290 {
  padding-bottom: 290px; }

.paddingbottom300 {
  padding-bottom: 300px; }

.margintop10 {
  margin-top: 10px; }

.margintop20 {
  margin-top: 20px; }

.margintop30 {
  margin-top: 30px; }

.margintop40 {
  margin-top: 40px; }

.margintop50 {
  margin-top: 50px; }

.margintop60 {
  margin-top: 60px; }

.margintop70 {
  margin-top: 70px; }

.margintop80 {
  margin-top: 80px; }

.margintop90 {
  margin-top: 90px; }

.margintop100 {
  margin-top: 100px; }

.margintop110 {
  margin-top: 110px; }

.margintop120 {
  margin-top: 120px; }

.margintop130 {
  margin-top: 130px; }

.margintop140 {
  margin-top: 140px; }

.margintop150 {
  margin-top: 150px; }

.margintop160 {
  margin-top: 160px; }

.margintop170 {
  margin-top: 170px; }

.margintop180 {
  margin-top: 180px; }

.margintop190 {
  margin-top: 190px; }

.margintop200 {
  margin-top: 200px; }

.margintop210 {
  margin-top: 210px; }

.margintop220 {
  margin-top: 220px; }

.margintop230 {
  margin-top: 230px; }

.margintop240 {
  margin-top: 240px; }

.margintop250 {
  margin-top: 250px; }

.margintop260 {
  margin-top: 260px; }

.margintop270 {
  margin-top: 270px; }

.margintop280 {
  margin-top: 280px; }

.margintop290 {
  margin-top: 290px; }

.margintop300 {
  margin-top: 300px; }

.marginbottom10 {
  margin-bottom: 10px; }

.marginbottom20 {
  margin-bottom: 20px; }

.marginbottom30 {
  margin-bottom: 30px; }

.marginbottom40 {
  margin-bottom: 40px; }

.marginbottom50 {
  margin-bottom: 50px; }

.marginbottom60 {
  margin-bottom: 60px; }

.marginbottom70 {
  margin-bottom: 70px; }

.marginbottom80 {
  margin-bottom: 80px; }

.marginbottom90 {
  margin-bottom: 90px; }

.marginbottom100 {
  margin-bottom: 100px; }

.marginbottom110 {
  margin-bottom: 110px; }

.marginbottom120 {
  margin-bottom: 120px; }

.marginbottom130 {
  margin-bottom: 130px; }

.marginbottom140 {
  margin-bottom: 140px; }

.marginbottom150 {
  margin-bottom: 150px; }

.marginbottom160 {
  margin-bottom: 160px; }

.marginbottom170 {
  margin-bottom: 170px; }

.marginbottom180 {
  margin-bottom: 180px; }

.marginbottom190 {
  margin-bottom: 190px; }

.marginbottom200 {
  margin-bottom: 200px; }

.marginbottom210 {
  margin-bottom: 210px; }

.marginbottom220 {
  margin-bottom: 220px; }

.marginbottom230 {
  margin-bottom: 230px; }

.marginbottom240 {
  margin-bottom: 240px; }

.marginbottom250 {
  margin-bottom: 250px; }

.marginbottom260 {
  margin-bottom: 260px; }

.marginbottom270 {
  margin-bottom: 270px; }

.marginbottom280 {
  margin-bottom: 280px; }

.marginbottom290 {
  margin-bottom: 290px; }

.marginbottom300 {
  margin-bottom: 300px; }

.paddingleft10 {
  padding-left: 10px; }

.paddingleft20 {
  padding-left: 20px; }

.paddingleft30 {
  padding-left: 30px; }

.paddingleft40 {
  padding-left: 40px; }

.paddingleft50 {
  padding-left: 50px; }

.paddingleft60 {
  padding-left: 60px; }

.paddingleft70 {
  padding-left: 70px; }

.paddingleft80 {
  padding-left: 80px; }

.paddingleft90 {
  padding-left: 90px; }

.paddingleft100 {
  padding-left: 100px; }

.paddingleft110 {
  padding-left: 110px; }

.paddingleft120 {
  padding-left: 120px; }

.paddingleft130 {
  padding-left: 130px; }

.paddingleft140 {
  padding-left: 140px; }

.paddingleft150 {
  padding-left: 150px; }

.paddingleft160 {
  padding-left: 160px; }

.paddingleft170 {
  padding-left: 170px; }

.paddingleft180 {
  padding-left: 180px; }

.paddingleft190 {
  padding-left: 190px; }

.paddingleft200 {
  padding-left: 200px; }

.paddingleft210 {
  padding-left: 210px; }

.paddingleft220 {
  padding-left: 220px; }

.paddingleft230 {
  padding-left: 230px; }

.paddingleft240 {
  padding-left: 240px; }

.paddingleft250 {
  padding-left: 250px; }

.paddingleft260 {
  padding-left: 260px; }

.paddingleft270 {
  padding-left: 270px; }

.paddingleft280 {
  padding-left: 280px; }

.paddingleft290 {
  padding-left: 290px; }

.paddingleft300 {
  padding-left: 300px; }

.paddingright10 {
  padding-right: 10px; }

.paddingright20 {
  padding-right: 20px; }

.paddingright30 {
  padding-right: 30px; }

.paddingright40 {
  padding-right: 40px; }

.paddingright50 {
  padding-right: 50px; }

.paddingright60 {
  padding-right: 60px; }

.paddingright70 {
  padding-right: 70px; }

.paddingright80 {
  padding-right: 80px; }

.paddingright90 {
  padding-right: 90px; }

.paddingright100 {
  padding-right: 100px; }

.paddingright110 {
  padding-right: 110px; }

.paddingright120 {
  padding-right: 120px; }

.paddingright130 {
  padding-right: 130px; }

.paddingright140 {
  padding-right: 140px; }

.paddingright150 {
  padding-right: 150px; }

.paddingright160 {
  padding-right: 160px; }

.paddingright170 {
  padding-right: 170px; }

.paddingright180 {
  padding-right: 180px; }

.paddingright190 {
  padding-right: 190px; }

.paddingright200 {
  padding-right: 200px; }

.paddingright210 {
  padding-right: 210px; }

.paddingright220 {
  padding-right: 220px; }

.paddingright230 {
  padding-right: 230px; }

.paddingright240 {
  padding-right: 240px; }

.paddingright250 {
  padding-right: 250px; }

.paddingright260 {
  padding-right: 260px; }

.paddingright270 {
  padding-right: 270px; }

.paddingright280 {
  padding-right: 280px; }

.paddingright290 {
  padding-right: 290px; }

.paddingright300 {
  padding-right: 300px; }

.marginleft10 {
  margin-left: 10px; }

.marginleft20 {
  margin-left: 20px; }

.marginleft30 {
  margin-left: 30px; }

.marginleft40 {
  margin-left: 40px; }

.marginleft50 {
  margin-left: 50px; }

.marginleft60 {
  margin-left: 60px; }

.marginleft70 {
  margin-left: 70px; }

.marginleft80 {
  margin-left: 80px; }

.marginleft90 {
  margin-left: 90px; }

.marginleft100 {
  margin-left: 100px; }

.marginleft110 {
  margin-left: 110px; }

.marginleft120 {
  margin-left: 120px; }

.marginleft130 {
  margin-left: 130px; }

.marginleft140 {
  margin-left: 140px; }

.marginleft150 {
  margin-left: 150px; }

.marginleft160 {
  margin-left: 160px; }

.marginleft170 {
  margin-left: 170px; }

.marginleft180 {
  margin-left: 180px; }

.marginleft190 {
  margin-left: 190px; }

.marginleft200 {
  margin-left: 200px; }

.marginleft210 {
  margin-left: 210px; }

.marginleft220 {
  margin-left: 220px; }

.marginleft230 {
  margin-left: 230px; }

.marginleft240 {
  margin-left: 240px; }

.marginleft250 {
  margin-left: 250px; }

.marginleft260 {
  margin-left: 260px; }

.marginleft270 {
  margin-left: 270px; }

.marginleft280 {
  margin-left: 280px; }

.marginleft290 {
  margin-left: 290px; }

.marginleft300 {
  margin-left: 300px; }

.marginright10 {
  margin-right: 10px; }

.marginright20 {
  margin-right: 20px; }

.marginright30 {
  margin-right: 30px; }

.marginright40 {
  margin-right: 40px; }

.marginright50 {
  margin-right: 50px; }

.marginright60 {
  margin-right: 60px; }

.marginright70 {
  margin-right: 70px; }

.marginright80 {
  margin-right: 80px; }

.marginright90 {
  margin-right: 90px; }

.marginright100 {
  margin-right: 100px; }

.marginright110 {
  margin-right: 110px; }

.marginright120 {
  margin-right: 120px; }

.marginright130 {
  margin-right: 130px; }

.marginright140 {
  margin-right: 140px; }

.marginright150 {
  margin-right: 150px; }

.marginright160 {
  margin-right: 160px; }

.marginright170 {
  margin-right: 170px; }

.marginright180 {
  margin-right: 180px; }

.marginright190 {
  margin-right: 190px; }

.marginright200 {
  margin-right: 200px; }

.marginright210 {
  margin-right: 210px; }

.marginright220 {
  margin-right: 220px; }

.marginright230 {
  margin-right: 230px; }

.marginright240 {
  margin-right: 240px; }

.marginright250 {
  margin-right: 250px; }

.marginright260 {
  margin-right: 260px; }

.marginright270 {
  margin-right: 270px; }

.marginright280 {
  margin-right: 280px; }

.marginright290 {
  margin-right: 290px; }

.marginright300 {
  margin-right: 300px; }

body {
  width: 100%;
  overflow-x: hidden;
  position: relative; }

.hiddenmob {
  display: none; }
  @media (min-width: 991px) {
    .hiddenmob {
      display: inline-block; } }

.hiddendesk {
  display: inline-block; }
  @media (min-width: 991px) {
    .hiddendesk {
      display: none; } }

.hide {
  display: none; }

.nopadding {
  padding: 0px; }

.nomargin {
  margin: 0px; }

@media (min-width: 991px) {
  .h-100vh {
    height: 100vh; } }

.img-100vh {
  height: 100vh; }

.h-50vh {
  min-height: 50vh; }

.h-100vh {
  min-height: 100vh; }

.h-200vh {
  min-height: 200vh; }

.w-50vw {
  width: 50vw; }

.w-100vwmob {
  width: 100vw; }
  @media (min-width: 991px) {
    .w-100vwmob {
      width: 50vw; } }

.w-100vw {
  width: 100vw; }

.imgvw {
  width: 100vw; }
  @media (min-width: 991px) {
    .imgvw {
      width: 50vw; } }

.titleRow {
  padding-top: 100px; }

.BackTitleRow {
  padding-top: 50px; }

.goBackRow {
  margin-top: 50px;
  margin-bottom: 50px; }

.titleUnderline {
  background: -moz-linear-gradient(90deg, #f81516, #fea621, #01a0c6);
  /* ff3.6+ */
  background: -webkit-linear-gradient(90deg, #f81516, #fea621, #01a0c6);
  /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(90deg, #f81516, #fea621, #01a0c6);
  /* opera 11.10+ */
  background: -ms-linear-gradient(90deg, #f81516, #fea621, #01a0c6);
  /* ie10+ */
  background: linear-gradient(90deg, #f81516, #fea621, #01a0c6);
  margin-bottom: 50px; }

.bold {
  font-weight: bold; }

h1, h2, h3, h4, h5, p, label, li, a {
  font-family: helvetica; }

h1, h2 {
  font-weight: bold; }

h3, h4, p, li {
  font-weight: lighter; }

h1 {
  font-size: 60px;
  margin-bottom: 5px; }

h2, h3 {
  font-size: 30px; }

h4, label {
  font-size: 17px; }

p {
  font-size: 15px; }

label {
  margin-top: 50px; }

li {
  list-style: linear-gradient(90deg, #f81516, #fea621, #01a0c6); }

a {
  color: black;
  font-size: 15px; }
  a:hover {
    color: red;
    text-decoration: none;
    font-weight: bold; }
  a:active {
    color: red;
    text-decoration: none;
    font-weight: bold; }

.red {
  color: red; }

.yellow {
  color: #FFE291; }

.blue {
  color: #C4FAFF; }

.lightblue {
  color: #C4FAFF; }

.greyBg {
  background-color: #efefef; }

.pinkBg {
  background-color: #FFAFAF; }

.redBg {
  background-color: red; }

.yellowBg {
  background-color: #FFE291; }

.blueBg {
  background-color: #C4FAFF; }

.lightblueBg {
  background-color: #C4FAFF; }

.gradient {
  background: -moz-linear-gradient(90deg, #FFAFAF, #FFE291, #C4FAFF);
  /* ff3.6+ */
  background: -webkit-linear-gradient(90deg, #FFAFAF, #FFE291, #C4FAFF);
  /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(90deg, #FFAFAF, #FFE291, #C4FAFF);
  /* opera 11.10+ */
  background: -ms-linear-gradient(90deg, #FFAFAF, #FFE291, #C4FAFF);
  /* ie10+ */
  background: linear-gradient(90deg, #FFAFAF, #FFE291, #C4FAFF); }

/* input form styling */
.form-group > input {
  background-color: transparent;
  border: none;
  padding: 0 5px;
  padding-bottom: 5px;
  display: block;
  border-radius: 0px; }

.border-bottom {
  border-bottom: 1px solid black !important; }

/* overwriting the border settings from bootstrap, and the automatic border shadow */
.was-validated .form-control:invalid, .form-control.is-invalid, .was-validated
.custom-select:invalid,
.custom-select.is-invalid {
  border-bottom: 1px solid #dc3545 !important; }

.was-validated .form-control:invalid:focus, .form-control.is-invalid:focus, .was-validated
.custom-select:invalid:focus,
.custom-select.is-invalid:focus {
  border-color: #dc3545;
  box-shadow: 0 0 0 0rem; }

.was-validated .form-control:valid, .form-control.is-valid, .was-validated
.custom-select:valid,
.custom-select.is-valid {
  border-bottom: 1px solid #28a745 !important; }

.was-validated .form-control:valid:focus, .form-control.is-valid:focus, .was-validated
.custom-select:valid:focus,
.custom-select.is-valid:focus {
  border-color: #28a745;
  box-shadow: none; }

.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: none; }

textarea:focus,
input[type="text"]:focus,
input[type="date"]:focus,
input[type="number"]:focus,
.uneditable-input:focus {
  background-color: transparent;
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.paymethod > img {
  width: 100px;
  height: auto; }

#paypalicon {
  display: inline;
  padding: 0 30px; }

.subscribeForm > .form-group > label.bold {
  margin-top: 100px; }

.webp #img1 {
  background-image: url("../img/orangeblue.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden; }

.webp #img2 {
  background-image: url("../img/redblue.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.webp #img3 {
  background-image: url("../img/bluebothle.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.webp #img4 {
  background-image: url("../img/bottlegreen2.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.webp #img5 {
  background-image: url("../img/bothlesize.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.webp #img6 {
  background-image: url("../img/bothleflower.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.no-webp #img1 {
  background-image: url("../img/png/orangeblue.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden; }

.no-webp #img2 {
  background-image: url("../img/png/redblue.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.no-webp #img3 {
  background-image: url("../img/png/bluebothle.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.no-webp #img4 {
  background-image: url("../img/png/bottlegreen2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.no-webp #img5 {
  background-image: url("../img/png/bothlesize.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.no-webp #img6 {
  background-image: url("../img/png/bothleflower.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.navigation {
  position: fixed;
  top: 5%;
  right: 5%;
  z-index: 10000;
  /** BURGER **/ }
  .navigation .nav {
    display: block; }
    @media (min-width: 720px) {
      .navigation .nav {
        display: flex; } }
  .navigation .burger {
    margin: auto;
    cursor: pointer;
    float: right;
    display: block;
    position: relative;
    background: red;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle; }
  .navigation .burger:before, .navigation .burger span, .navigation .burger:after {
    width: 20px;
    height: 2px;
    display: block;
    margin: 0 auto;
    top: 50%;
    left: 0;
    right: 0;
    background: white;
    position: absolute;
    opacity: 1;
    transform: translateY(-50%);
    z-index: 10000; }
  .navigation .burger:before,
  .navigation .burger:after {
    transition: all 0.3s ease;
    content: ""; }
  .navigation .burger:before {
    top: 35%; }
  .navigation .burger span {
    top: 50%; }
  .navigation .burger:after {
    top: 65%; }
  .navigation .burger.cross span {
    opacity: 0; }
  .navigation .burger.cross:before, .navigation .burger.cross:after {
    top: 50%; }
  .navigation .burger.cross:before {
    transform: rotate(45deg); }
  .navigation .burger.cross:after {
    transform: rotate(-45deg); }
  .navigation .burger:focus {
    outline: none; }

/** MENU **/
nav.nav-primary {
  vertical-align: middle; }

nav.nav-primary li {
  display: block;
  opacity: 0;
  background-color: white;
  padding: 5px; }

nav.nav-primary {
  display: inline-block; }

nav.nav-primary li a {
  color: red;
  margin-right: 20px;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 18px;
  text-transform: uppercase; }

nav.nav-primary li.active a {
  font-family: sans-serif;
  font-weight: 700; }

nav.nav-primary {
  line-height: 40px;
  margin-right: 20px;
  position: relative;
  z-index: 1000; }

.btn-primary {
  border-radius: 15px;
  background-color: #efefef;
  color: black;
  border: none; }
  .btn-primary:active {
    background-color: red !important; }
  .btn-primary:hover {
    background-color: white;
    color: black;
    border: none; }
  .btn-primary:focus {
    background-color: white;
    color: black;
    border: none; }

.scrollDown {
  margin-top: 60px;
  margin-bottom: 60px; }
  .scrollDown a {
    color: black; }
  .scrollDown a:hover {
    color: red;
    font-weight: bold;
    text-decoration: none; }
  .scrollDown a:active {
    color: red;
    font-weight: bold;
    text-decoration: none; }

.nextBttn {
  margin-top: 50px; }
  .nextBttn:active {
    background-color: red;
    color: red; }
  .nextBttn:hover {
    background-color: #efefef;
    color: red; }

.backButton {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  background-color: white;
  border: none;
  position: fixed;
  height: 60px;
  top: 80vh;
  text-align: left;
  z-index: 10000; }
  @media (min-width: 620px) {
    .backButton {
      height: 40px; } }
  @media (min-width: 768px) {
    .backButton {
      top: 90vh; } }
  .backButton:hover {
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    background: -moz-linear-gradient(90deg, #FFAFAF, #FFE291, #C4FAFF);
    /* ff3.6+ */
    background: -webkit-linear-gradient(90deg, #FFAFAF, #FFE291, #C4FAFF);
    /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(90deg, #FFAFAF, #FFE291, #C4FAFF);
    /* opera 11.10+ */
    background: -ms-linear-gradient(90deg, #FFAFAF, #FFE291, #C4FAFF);
    /* ie10+ */
    background: linear-gradient(90deg, #FFAFAF, #FFE291, #C4FAFF);
    border: none; }
  .backButton:active {
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    background: -moz-linear-gradient(90deg, #FFAFAF, #FFE291, #C4FAFF);
    /* ff3.6+ */
    background: -webkit-linear-gradient(90deg, #FFAFAF, #FFE291, #C4FAFF);
    /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(90deg, #FFAFAF, #FFE291, #C4FAFF);
    /* opera 11.10+ */
    background: -ms-linear-gradient(90deg, #FFAFAF, #FFE291, #C4FAFF);
    /* ie10+ */
    background: linear-gradient(90deg, #FFAFAF, #FFE291, #C4FAFF);
    border: none; }

.goBackButton {
  color: black;
  font-weight: bold; }
  .goBackButton:hover {
    color: red;
    text-decoration: none; }
  .goBackButton:active {
    color: red;
    text-decoration: none; }

.material-icons.md-18 {
  font-size: 18px; }

.material-icons.md-24 {
  font-size: 24px; }

.material-icons.md-36 {
  font-size: 36px; }

.material-icons.md-48 {
  font-size: 48px; }

.md-light {
  color: white; }

.fa-facebook,
.fa-twitter,
.fa-instagram,
.fa-youtube {
  color: black;
  font-size: 30px;
  padding: 10px 40px 10px 0px; }

.fa-facebook:hover,
.fa-twitter:hover,
.fa-instagram:hover,
.fa-youtube:hover {
  color: red; }

.fa-facebook:active,
.fa-twitter:active,
.fa-instagram:active,
.fa-youtube:active {
  color: red; }

.backWindow {
  position: fixed;
  top: 10vh;
  height: 70vh;
  z-index: 100000;
  background-color: white;
  border-radius: 50px 50px 0px 0px;
  overflow-y: scroll; }
  @media (min-width: 768px) {
    .backWindow {
      height: 80vh; } }
  .backWindow .closeBtn {
    position: absolute;
    top: 5%;
    right: 5%;
    background-color: transparent;
    border: none; }
    .backWindow .closeBtn:hover {
      color: red; }
    .backWindow .closeBtn:active {
      color: red; }
  .backWindow .customAmount {
    position: relative; }
    @media (min-width: 911px) {
      .backWindow .customAmount {
        right: 20%;
        position: fixed; } }

#map {
  width: 100vw;
  height: 100vh; }
  @media (min-width: 768px) {
    #map {
      width: 50vw; } }

.contactRow {
  padding-bottom: 100px; }

.blueBg .card {
  overflow: hidden;
  margin-bottom: 30px;
  background-color: transparent;
  border: none;
  text-align: left; }
  .blueBg .card .card-header {
    overflow: hidden;
    padding: 20px;
    background-color: white; }
    .blueBg .card .card-header i {
      color: black;
      vertical-align: middle; }
    .blueBg .card .card-header button {
      color: black;
      font-weight: bold; }
      .blueBg .card .card-header button:hover {
        color: #FFAFAF;
        text-decoration: none; }
  .blueBg .card .card-body {
    background-color: white; }

#paypallogin, #paypalpay {
  margin-top: 20%;
  width: 100%; }

.styleguide .colorvak {
  height: 100px;
  display: inline-block;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px; }

.styleguide .nextBttn {
  margin-top: 5px; }

.styleguide #openBtn {
  position: static; }
