//mixins
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
    border-radius: $radius;
}
@mixin breakpoint($breakpoints) {
  @media (min-width: $breakpoints) {
    @content
  }
}
@mixin breakpointHeight($breakpoints) {
  @media (min-height: $breakpoints) {
    @content
  }
}
