//////////////////////FONTS SIZES/////////////////////////
/// Font sizes
/// @group abstracts
/// @access public
/// @type font-size
$h1-size: 50px;
$h1-line-height: 55px;

/// Font sizes
/// @group abstracts
/// @access public
/// @type font-size
$h2-size: 1.9em;
$h2-line-height: 2.1em;

/// Font sizes
/// @group abstracts
/// @access public
/// @type font-size
$h3-size: 1.3em;
$h3-line-height: 1.5em;

/// Font sizes
/// @group abstracts
/// @access public
/// @type font-size
$h4-size: 1em;

/// Font sizes
/// @group abstracts
/// @access public
/// @type font-size
$h5-size: 0.7em;

/// Font sizes
/// @group abstracts
/// @access public
/// @type font-size
$p-size: 1em;
$p-line-height: 22px;


////////////navigation
$width-nav: 40px;
$height-nav: 40px;
$thickness-nav: 2px;
