.blueBg{
.card{
  overflow: hidden;
  margin-bottom: 30px;
  background-color: transparent;
  border: none;
  text-align: left;
  .card-header{
    overflow: hidden;
    padding: 20px;
    background-color: white;
    i{
      color: black;
      vertical-align: middle;
    }

    button{
      color: black;
      font-weight: bold;
      &:hover{
        color: $pink;
        text-decoration: none;
      }
    }

  }
  .card-body{
    background-color: white;

  }
}
}
