.red{
  color: $red;
}
.yellow{
  color: $yellow;
}
.blue{
  color: $blue;
}
.lightblue{
  color: $lightblue;
}
.pinkBg{
  background-color: $pink;
}
.yellowBg{
  background-color: $yellow;
}
.blueBg{
  background-color: $blue;
}
.lightblueBg{
  background-color: $lightblue;
}
