body{
  width: 100%;
  overflow-x: hidden;
  position: relative;
}
.hiddenmob{
  @include breakpoint (991px){
      display: inline-block;
  }
  display: none;
}
.hiddendesk{
  @include breakpoint (991px){
      display: none;
  }
  display: inline-block;
}

.hide {
  display: none;
}


.nopadding{
  padding: 0px;
}
.nomargin{
  margin: 0px;
}
.h-100vh{
  @include breakpoint(991px){
    height: 100vh;
}
}
.img-100vh{
  height: 100vh;
}
.h-50vh{
  min-height: 50vh;
}
.h-100vh{
min-height:100vh;
}
.h-200vh{
  min-height: 200vh;
}
.w-50vw{
  width: 50vw;
}
.w-100vwmob{
  @include breakpoint(991px){
    width: 50vw;
  }
  width: 100vw;
}
.w-100vw{
  width: 100vw;
}
.imgvw{
  @include breakpoint(991px){
    width: 50vw;
  }
  width: 100vw;
}
