//////////////////////COLORS/////////////////////////
$red: red;
$grey: #efefef;
$pink: #FFAFAF;
$yellow: #FFE291;
$blue: #C4FAFF;
$lightblue: #C4FAFF;
//@include gradient(90, #f81516, #fea621, #01a0c6);
